<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Welcome!</title>
</head>
<body>
<div class = "container">
	<div class="jumbotron jumbotron-fluid mt-3">
		<div class="container">
			<h1 class="display-4 text-center">Nearby Hospitals Locator</h1>
		</div>
	</div>
	<form action="{{url_for('thank_you')}}" method="post">
		<div class="card">
			<div class="card-body mt-3" id="btn-predict">>
				<label for="last">Please enter your location</label>
					<input type="text" name="loc">

				<hr>
			</div>
		</div>
		<input class ="btn btn-primary mt-3 btn-block mb-5" type="submit" value="Submit">
	</form>
</div>

</body>
</html>

